<!DOCTYPE html>
<html>
  <head>
    <title>Movie Night Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="fluid-container bg-light">
      <div class="mx-3">
        <h1>Project 3: Movie Night</h1>
        <p>Presented by: ..., ..., ...</p>
        <a href="/" class="btn btn-primary">Data</a>
        <a href="/dashboard" class="btn btn-danger">Dashboard</a>
        <hr />
        <h2>Dashboard</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-6"><canvas id="top-imdb"></canvas></div>
      <div class="col-6"><canvas id="top-gross"></canvas></div>
    </div>
    <div class="row">
      <div class="col-12"><canvas id="bubble-chart"></canvas></div>
      <div class="col-6"><canvas id="chart-4"></canvas></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const tableHeaders = [
        "Series_Title",
        "Released_Year",
        "Certificate",
        "Director",
        "Genre_1",
        "Runtime",
        "Meta_score",
        "IMDB_Rating",
        "No_of_Votes",
        "Gross",
      ];
      const sortFields = [
        "IMDB_Rating",
        "Runtime",
        "Meta_score",
        "No_of_Votes",
        "Gross",
        "Released_Year",
      ];

      async function getAllMovieData() {
        const url = `/api/movies`;
        console.log(url);
        const response = await fetch(url);
        const data = await response.json();
        console.log(data);
        return data;
      }

      async function getTop10lMovieData(attribute) {
        const url = `/api/top_movies/${attribute}`;
        console.log(url);
        const response = await fetch(url);
        const data = await response.json();
        console.log(data);
        return data;
      }

      (async function () {
        const top10IMDBData = await getTop10lMovieData("IMDB_Rating");
        new Chart(document.getElementById("top-imdb"), {
          type: "bar",
          data: {
            labels: top10IMDBData.map((x) => `${x.Series_Title}`),
            datasets: [
              {
                label: "Top 10 Movies by IMDB Rating",
                data: top10IMDBData.map((x) => x.IMDB_Rating),
                backgroundColor: "green",
              },
            ],
          },
        });

        const top10GrossData = await getTop10lMovieData("Gross");
        new Chart(document.getElementById("top-gross"), {
          type: "bar",
          data: {
            labels: top10GrossData.map((x) => `${x.Series_Title}`),
            datasets: [
              {
                label: "Top 10 Movies by Gross",
                data: top10GrossData.map((x) => x.Gross),
                backgroundColor: "red",
              },
            ],
          },
        });

        const allMovieData = await getAllMovieData();
        new Chart(document.getElementById("bubble-chart"), {
          type: "bubble",
          data: {
            labels: allMovieData.map(
              (x) =>
                `${x.Series_Title}: ${new Intl.NumberFormat("en-AU", {
                  style: "currency",
                  currency: "AUD",
                }).format(x.Gross)}`
            ),
            datasets: [
              {
                label: "Gross",
                data: allMovieData.map((row) => ({
                  x: row.Released_Year,
                  y: row.IMDB_Rating,
                  r: row.Gross / 25000000,
                })),
                hoverBackgroundColor: "red",
              },
            ],
          },
        });
      })();
    </script>
  </body>
</html>
